

<div class="">
    <table class="table table-bordered table-striped " style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Status</th>
                <th>Avatar</th>
                <th>Is Admin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.NameSurname</td>
                    <td>@item.Phone</td>
                    <td>@item.Status</td>
                    <td>@item.Avatar</td>
                    <td>@item.IsAdmin </td>
                    <td><a href="/admin/araba/CarImages/@item.ID" class="btn btn-primary">Show Images</a></td>
                    <td>
                        <a href="/admin/Musteri/Update/@item.ID" class="btn btn-info">Update</a>
                        <a href="/admin/Musteri/Delete/@item.ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
